:root {
  // fonts
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-title: "Bebas Neue", sans-serif;

  // text
  --text-main: #ffffff;
  --text-accent: #5700e0;
  --text-secondary: #a3a3a3;
  --text-accent-shadow: #4700e0;
  --text-placeholder: rgba(255, 255, 255, 0.7);
  --text-half-transparent: rgba(255, 255, 255, 0.5);

  // background
  --bg-main: #000000;
  --bg-secondary: #272727;
  --bg-accent: #5700e0;
  --bg-icons: #5c5959;
  --bg-avatar: #d9d9d9;
  --bg-avatar-icon: #121212;
  --bg-comments: #ababab;
  --bg-comments-alpha: rgba(170, 170, 170, 0.3);
  --bg-footer: #0a0a0a;
  --bg-footer-mobile: #0d0d0d;
  --bg-banner: #141414;
  --bg-border: #454545;

  // transition
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // borders
  --border-social: 1px solid #ffffff;
  --border-accent: 1px solid #5700e0;
  --border-top: 1px solid #454545;
}
